body{
	margin:0;
	background:#FFF;
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x: hidden;
	background:#000;
}

#header{position: absolute; z-index: 1;left:50%;}
#header-inner{margin-left:-100%;}
#header-inner ul{list-style-type:none;margin: 0;padding: 0;}
#header-inner ul li{display: inline-block;padding: 20px 5px 5px 5px;}
#header-inner ul li a{text-decoration: none;color:white;background:#000;opacity:0.7;border-radius: 2px;padding:6px 10px;}
#header-inner ul li a:hover{opacity: 0.9;}

#social-media{position: fixed;top:0;left:0;z-index: 1;padding:10px;color:#FFF;}
#social-media a:nth-child(2){margin-left:5px;}

#home-header{
	width:100%;
	height:100%;
	background:url('/assets/img/bg-science-min.jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	z-index: 0;
	top:0;

	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-moz-animation: fadein 1s; /* Firefox */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera */
	animation: fadein 1s;

    -webkit-transition: background 700ms linear;
    -moz-transition: background 700ms linear;
    -o-transition: background 700ms linear;
    -ms-transition: background 700ms linear;
    transition: background 700ms linear;
}

#infoBox{overflow:auto;margin-left:-100%;margin-top:5vh;}
#infoBoxFront{width:35em;padding:20px;background:#FFF;border:#888 1px solid;position: absolute;left:50%;margin-left:-17.5em;z-index: 0;}
#infoBoxFront h3{margin-top:0;}
#infoBoxFront #frontNavItems{list-style-type: none;margin-top:20px;padding:0;width:100%;}
#infoBoxFront #frontNavItems li{color:#000;display:inline-block;width:49%;overflow: auto;border:#DDD 1px solid;background:rgb(248,248,248);cursor:pointer;padding:10px 0px;margin:2px 0px;}
#infoBoxFront #frontNavItems li:hover{background:#FFF;}
#infoBoxFront img{display:block;margin:10px;}
#infoBoxFront a{color:inherit;display:block;height:100%;width:100%;text-decoration: none;}

#rightMenu, #leftMenu{
	width:15em;
	height:100%;
	border:#000 1px solid;
	background:#AA0000;
	background:rgba(200, 0, 0, 0.8);
	position: absolute;
	top:0;
	z-index:2;
	display:none;
}
#leftMenu{left:-15em;}
#rightMenu{right:-15em;}

@media only screen and (max-height:600px){
	#rightMenu{height:100%;top:0;border-top:none;border-bottom:none;}
	#leftMenu{height:100%;top:0;border-top:none;border-bottom:none;}
}

.infoBoxMenu{color:#FFF;}
.infoBoxMenu ul{list-style: none;margin-top:-10px;padding:0;font-size:12px;}
.infoBoxMenu img{width:80%;}
.infoBoxMenu p{font-weight:200;}
.infoBoxMenu ul li {
	display:block;height:30px;
	line-height:30px;
	cursor:pointer;
	background:rgba(255,255,255,0.1);
	width:100%;
	border-bottom:#AAA 1px solid;
}
.infoBoxMenu ul li:nth-child(1){border-top:#AAA 1px solid;}
.infoBoxMenu ul li:hover{background:rgba(255,255,255,0.5);}

#infoBox #webSearch{width:80%;width:calc(80%);display:inline;}
#infoBox button{display:inline;width:20%;width:calc(20% - 6px);}
#seeMoreBtn{position:fixed;z-index: 2;right:20px;bottom:20px;opacity: 0.2;width:50px;cursor:pointer;}
#seeMoreBtn:hover{opacity: 0.7;}

#homeBelow{
	position:absolute;
	top:100vh;
	width: 100vw;
	height:2000px;
	background: #222;
}
#page1Home{
	width:100vw;
	height:600px;
}

.form-control:focus {
  border-color: #AAA;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);
}
.btn:focus, .btn:active, .btn:active:focus{
	outline:0;
}

/* Tablet display */
@media only screen and (max-width: 40em) {
	#social-media{display:none;}
}

/* Landscape tablet */
@media only screen and (max-height: 600px) and (min-width: 32em){
	#infoBox img{display:none;}
}
@media only screen and (max-height: 400px) and (min-width: 32em){
	#infoBox p{display:none;}
}

/* Phone display */
@media only screen and (max-width: 32em){

	#infoBoxFront #webSearch{width:70%;width:calc(70%);display:inline;}
	#infoBoxFront button{display:inline;width:30%;width:calc(30% - 6px);}
	#infoBoxFront{width:100vw;margin:0;left:0;top:0;}
	#infoBoxFront #frontNavItems li{width:100%;padding:10px 0px 10px 0px;}
	#infoBoxFront p{display:none;}

}

/* Default */@keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}
/* Firefox */@-moz-keyframes fadein {from { opacity: 0; } to{ opacity: 1; }}
/* Safari and Chrome */@-webkit-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
/* Internet Explorer */@-ms-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}​
/* Opera */@-o-keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}​