<div id="home-header">
	<div id="social-media">
		<a id="fbIcon" ng-mouseover="fbHover()" ng-mouseleave="fbNormal()" href="https://www.facebook.com/kelvin100th" target="_blank"><img src="/assets/img/icons/fb.svg" width="32" /></a>
		<a id="igIcon" ng-mouseover="igHover()" ng-mouseleave="igNormal()" href="https://instagram.com/kelvinhistory/" target="_blank"><img src="/assets/img/icons/ig.svg" width="32" /></a>
	</div>
</div>
<center>
	<div id="infoBox">
		<div id="infoBoxFront">
			<h3>Welcome to the Kelvin History Website!</h3>
			<img src="/assets/img/logo.jpg" width="128" />
			<p>Kelvin High School has over 100 years of history and since 2012 our committee of students have been working to explore our school’s past. We have decided to feature pages on distinguished alumni, our school’s military history, student projects, a gallery of images taken throughout the years, and much more! We hope to develop an interactive website where Kelvin grads of all ages can discuss and learn more about our school’s fantastic history.</p>
			<ul id="frontNavItems" ng-click="frontNavItemsClick()">
				<li class="hvr-icon-back" ng-click="showLeftMenu()">Hall of Fame</li>
				<li class="hvr-icon-forward" ng-click="showRightMenu()">Hall of Remembrance</li>
				<li class="hvr-icon-back" ng-click="showLeftMenu()">Kelvin Gallery</li>
				<li class="hvr-icon-forward" ng-click="showRightMenu()">School History</li>
				<li class="hvr-icon-rotate-left"><a href="about">About The Website</a></li>
				<li class="hvr-icon-rotate"><a href="comment">Comment Board</a></li>
			</ul>
			<input type="text" id="webSearch" ng-focus="searchFocus()" class="form-control" placeholder="Search for a piece of Kelvin history." />
			<button class="btn">Search</button>
			<div id="leftMenu" class="infoBoxMenu">
				<img src="assets/img/icons/hall-of-fame-thumb.svg" />
				<ul>
					<li><a href="halloffame/athletes">Athletes</a></li>
					<li><a href="halloffame/artists">Artists</a></li>
					<li><a href="halloffame/entrepreneurs">Entrepreneurs and Bankers</a></li>
					<li><a href="halloffame/intellectuals">Itellectuals and Educators</a></li>
					<li><a href="halloffame/officials">Politicians, Lawyers, and Civil Servants</a></li>
					<li><a href="halloffame/writers">Writers and Journalists</a></li>
				</ul>
				<br>
				<img src="assets/img/icons/gallery-thumb.svg" />
				<ul>
					<li>Kelvin Since 1912</li>
					<li>Student Photo Albums</li>
					<li>Video Albums / Oral History</li>
				</ul>
			</div>
			<div id="rightMenu" class="infoBoxMenu">
				<img src="assets/img/icons/hall-of-remembrance-thumb.svg" />
				<ul>
					<li>World War I Soldiers</li>
					<li>World War II Soldiers</li>
					<li>World War I Cemetery Maps</li>
					<li>World War II Cemetery Maps</li>
				</ul>
				<br>
				<img src="assets/img/icons/school-history-thumb.svg" />
				<ul>
					<li>Student Lead Programs</li>
					<li>Teachers, Principals, Support Staff</li>
					<li>Registered Alumni</li>
					<li>About The Website</li>
				</ul>
			</div>
		</div>
	</div>
</center>

<img src="assets/img/see-more.svg" id="seeMoreBtn" ng-click="scrollDown()" title="scroll to next page" />

<div id="homeBelow">
	<div id="page1Home">
		


	</div>
</div>